@font-face {
  font-family: 'Nimbus';
  src: url(../fonts/Nimbus\ Sans\ Becker\ PBla\ Regular.otf);
  font-family: 'Free';
  src: url(../fonts/FreeSansBold.ttf);
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;

}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

p, a {
  font-family: 'Josefin Sans', sans-serif;
  color: #767676;
  ;
}

img,
picture {
  width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

header {
  max-width: 1000px;
  margin: 0 auto 100px auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nav-title {
  font-family: 'Rampart One', cursive;
  text-transform: uppercase;
  font-size: 5.7rem;
}

.social-media {
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.social-media li {
  list-style: none;
  text-decoration: none;
}

.nav-link {
  font-size: 1.7rem;
  text-decoration: none;
  color: #000;
  transition: all .23s;
}

.nav-link:hover {
  color: #3a6beb;
}

.section-one {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  ;

  max-width: 1000px;
  padding: 20px;
  margin: 10px auto 100px auto;
}

.greeting-title {
  font-size: 3.5rem;
  font-weight: bold;
  max-width: 1000px;
  margin: 0 auto;

}

.my-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.social-media-icons {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  color: #000;
  cursor: pointer;
}

.social-media-icons li {
  list-style: none;
}

.ilustraction-img {
  width: 600px;


}

.skill-title {
  font-size: 3rem;
  text-align: center;
  margin: 100px 0;
}

.section-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  ;
  gap: .75rem;
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.title-project-section {
  font-size: 3rem;
  text-align: center;
  margin: 100px 0;
}

.section-three {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  ;
  /* gap: 4.75rem; */
  padding: 1rem;
  max-width: 1000px;
  margin: 50px auto 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}

.card {
  display: flex;

  align-items: center;
  flex-direction: column;

}

.custom-card-img {
  background-color: hsla(0, 0%, 46%, .2);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  width: auto;
  height: 500px;
  overflow: hidden;
  background-position: left;
  transition: ease-in-out 8s;

}

.custom-card-img.card-img {
  background-image: url(..//img/screencapture-harold102400-github-io-eps-currier-website-2023-07-28-10_22_02.png);
  background-size: cover;
}

.custom-card-img:hover {
  background-position: right;
}

.custom-card-img.hovered {
  background-position: right;
}

.second-custom-card-img {
  background-color: hsla(0, 0%, 46%, .2);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  width: auto;
  height: 500px;
  overflow: hidden;
  background-position: top;
  transition: ease-in-out 8s;

}

.second-custom-card-img.second-card-img {
  background-image: url(../img/screencapture-jade-blancmange-16a405-netlify-app-2023-07-31-17_44_25.png);
  background-size: cover;
}

.second-custom-card-img:hover {
  background-position: bottom;
}

.second-custom-card-img.hovered1 {
  background-position: bottom;
}

/* .card-img {
  
  object-fit: cover;
  width: 100%;
} */
/* .custom-card-img{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px red dotted;
}
.card-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
} */
.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.card-title {
  font-size: 1.7rem;
  font-weight: 900;
}

.card-description {
  font-size: 1.3rem;
  margin-top: 19px;
  text-align: center;
  width: 70%;
}

.custom-description-content {
  display: flex;
  gap: 3rem;
  /* justify-content: space-evenly;
  
  width: 100%; */
  margin-top: 19px;
  padding: 8px;
}

.custom-card-description {
  font-size: 1.3rem;
  color: #000;
}

.info-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 48px;
  padding: 18px;
}

.card-info {
  font-size: 1.3rem;
}

.info-content a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #000;
  transition: ease-in-out 1s;
}

.info-content a:hover {
  color: #3a6beb;
}

.info-content a box-icon {
  background-color: red;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
  line-height: .05em;
  vertical-align: -.075em;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.25rem;
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 0 auto;
}

.footer-title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 3rem;
  text-align: center;
}

.footer-title::before {
  content: attr(data-desktop);
}

.footer-description {
  font-size: 1.75rem;
  padding: .25rem;
}


.footer-nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #2d2e32;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.footer-social-media {
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.footer-social-media li {
  list-style: none;
  text-decoration: none;
}

.go-top-btn {
  position: fixed;
  bottom: 70px;
  right: 35px;
  border-radius: 50%;
  cursor: pointer;
  height: 65px;
  width: 65px;
  background: #fff;
  border: 3px solid #000;
  display: none;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 764px) {
  .nav-menu h2 {
    font-size: 2.5rem;
  }

  .nav-img {
    width: 40px;
  }

  .greeting-title {
    font-size: 3rem;
    width: 500px;
    margin-bottom: 2rem;
    text-align: center;
  }

  .my-description {
    font-size: 1.5rem;
    width: 90%;
  }

  .ilustraction-img {
    width: 100%;
  }

  .section-one {
    grid-template-columns: 1fr;

  }

  .container-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .portfolio-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-project-section {
    font-size: 3rem;
  }

  .card-title {
    font-size: 1.5rem;
    padding-bottom: .5rem;
  }

  .card-description {
    font-size: 1rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-title::before {
    content: attr(data-tablettext);
  }

  .footer-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media screen and (max-width: 522px) {
    .nav-menu {
      flex-direction: column;
      align-items: center;
    }

    .greeting-title {
      font-size: 3rem;
      width: 90%;
      padding-top: 3rem;
    }

    .my-description {
      font-size: 1.2rem;
      width: 90%;
    }


    .ilustraction-img {
      width: 100%;
    }

    .title-project-section {
      font-size: 3rem;
    }

    .footer-nav-menu {
      flex-direction: column;
      align-items: center;
    }
  }
}