:root {
  --bai-jamjuree: 'Bai Jamjuree', sans-serif;
  --concert-one: 'Concert One', cursive;
  --merienda: 'Merienda', cursive;

}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p{
  margin: 0;
  
}

h1,
h2,
h3,
h4{
  font-family: var(--concert-one)
}

p, a{
  font-family: var(--merienda);
}

img,
picture {
  width: 100%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 800px;
  background-color: gray;
  margin: 0 auto;
  /* background-image: url("/img/dark-texture-in-watercolor.jpg"); */
}


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}


.social-media {
  display: flex;
  gap: 1rem;
  
}

.social-media li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.6s ease-in-out;
}
.nav-link:hover{
  color: red;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
} */

.first-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.greeting{
  font-size: 3rem;
  font-weight: bold;
  width: 75%;
}

.my-description {
  font-size: 1rem;
  width: 45%;
}

.contact-button{
  padding-top: 2rem;
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  
}
.contact-btn {
  text-decoration: none;
  color: white;
  border-bottom: white 3px solid;
  transition: 0.6s ease-in-out;
}

.contact-btn:hover{
  color: red;
}

.portfolio-img {
  position: relative;
  
}

.my-presentation-photo{
  width: 50%;
  aspect-ratio: 2 / 1.25;
  object-fit: contain;
  position: absolute; 
  left: 50%;
  top: -300px; 
  z-index: -1; 
  clip-path: circle(120px at center);
} 

.second-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));;
  gap: .75rem;
  padding: 1rem;
}

.submit-button.active {
  color: red;
}
.project__container {
    margin: 2rem 0;
    padding: 1rem;
}
.third-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));;
  gap: .75rem;
  padding: 1rem;
}

.projects__information{
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 3;
}

.project__tittle{
  font-size: 3rem;
}

.project__contact{
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 3px white solid;
  transition: 0.6s ease-in-out;
}
.project__contact:hover{
  color: red;
 
}

.card {
  /* border: 3px solid hotpink; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.card-content {
  padding: 1rem;
}
.card-tittle{
  font-size: 1.25rem;
  font-weight: 900;

}

.card-description {
  font-size: 1rem;
  display: inline;
}

.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); 
  gap: .25rem;
  margin-top: 2rem;
}
.footer__description {
  font-size: 1rem;
  padding: .25rem;
  background-color: red;
}

.footer__tittle {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

 .form-registration{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  background-color: red;
  font-family: var(--bai-jamjuree)
}

input, button {
  border: none;
  outline: none;
  appearance: none;
  background: none;
  font-family: var(--bai-jamjuree)
}

.form-input-container {
  padding-top: .50rem;
}
.form-label{
  color: whitesmoke;
  padding-left: 1rem;
}
.form-input{
  font-size: 1rem;
  padding: 1rem;
  width: 300px;
  color: white;
  border-radius: 1rem;
  

}

.form-input:focus {
  outline-color: transparent;
  border-bottom: 3px #b30059 solid;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form-btn {
 
  margin-top: 2rem;
  margin-left: 8rem;
  /* padding: 1rem;
  width: 120px; */
  border-radius: 1rem;
  transition: 0.6s ease-in-out;
}
.form-btn:hover{
  outline-color: transparent;
  border-bottom: 3px #b30059 solid;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.submit-button {
  font-weight: bold;
  font-size: inherit;
  padding: 1rem;
  width: 170px;
  cursor: pointer;
  
}


.nav-menu {
  display: flex;
  justify-content: space-between;

  /* background-color: blue; */
  grid-column: span 3;
}

@media screen and (max-width: 764px){
  .nav-menu h2 {
    font-size: 2.5rem;
  }

  .nav-img {
    width: 40px;
  }

  .greeting{
    font-size: 5rem;
    width: 500px;
    margin-bottom: 2rem;
  }

  .my-description {
    font-size: 1.5rem;
  }

  .contact-button{
    font-size: 1.5rem;
  }

  .my-presentation-photo {
    left: 350px;
    top: -500px;
    width: 40%;
    aspect-ratio: 1.25 / 1.25;
    clip-path: circle(130px at center);
  }
  .exp-container {
    background-color: red;
    padding: 1.5rem;
  }

  .exp-container-tittle {
    font-size: 3rem;
  }

  .exp-container-description {
    font-size: 1.5rem;
  }

  .projects__information {
    background-color: red;
    padding: 1rem;
  }

  .project__tittle {
    font-size: 5rem;
  }

  .project__contact {
    font-size: 2rem;
  }

  .card-tittle {
    font-size: 1.5rem;
    padding-bottom: .5rem;
  }

  .card-description {
    font-size: 1rem;
  }

 .footer {
    
    /* grid-template-columns: 1fr; */
    background-color: blueviolet;
  }

  .footer__description {
    grid-column: span 3;
    /* align-items: center;
    justify-content: center; */
    background-color: aqua;
    width: 400px;
    margin: 0 auto;
  } 

  .form-registration {
    width: 400px;
    margin: 0 auto;
  }

  @media screen and (max-width: 522px){
    .nav-menu {
      flex-direction: column;
      align-items: center;
    }
    .first-section{
      align-items: center;
    }
    .greeting{
      font-size: 3rem;
      width: 90%;
      padding-top: 3rem;
    }

    .my-description{
      font-size: 1.2rem;
      width: 90%;
    }
    .contact-button{
      font-size: 1.2rem;
    }

    .my-presentation-photo{
      top: 50px;
    }
    .second-section{
      justify-items: center;
    }

    .exp-container-tittle {
      font-size: 2rem;
    }
  
    .exp-container-description {
      font-size: 1rem;
    }

    .project__tittle {
      font-size: 3rem;
    }
  
    .project__contact {
      font-size: 1.5rem;
    }
    
  }
}